:root {
	font-family: 'arial';
}

body {
	background-color: gray;
}

a {
	text-decoration: none;
}

.wrapper {
	width: 600px;
	text-align: center;
	margin: 0 auto;
	position: relative;
}

.header a {
	background-color: white;
	display: inline-block;
	width: 200px;
	height: 200px;
	line-height: 210px;
	border-radius: 50%;
	letter-spacing: 0.7em;
	text-indent: 0.7em;
	font-size: large;
}

.anger {
	color: red;
	background-image: url(images/anger.png);
	background-size: 70%;
	background-position: 50% 200px;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	left: 0;
}

.header a.anger:hover {
	box-shadow: 0 0 20px red;
	background-position-y: 50px;
	line-height: 110px;
	transition: 0.3s;
}

.joy {
	color: orange;
	background-image: url(images/joy.png);
	background-size: 70%;
	background-position: 50% -150px;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	left: 200px;
}

.header a.joy:hover {
	box-shadow: 0 0 20px yellow;
	background-position-y: 30px;
	line-height: 300px;
	transition: 0.3s;
}

.sadness {
	color: blue;
	background-image: url(images/sadness.png);
	background-size: 70%;
	background-position: 50% 200px;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	left: 400px;
}

.header a.sadness:hover {
	box-shadow: 0 0 20px blue;
	background-position-y: 50px;
	line-height: 110px;
	transition: 0.3s;
}