/* Resets */
body {
    margin: unset;
}

h1, h2, p {
    margin: unset;
    font-size: unset;
    font-weight: unset;
}

button {
    all: unset;
}

img {
    vertical-align: top;
}

/* color */
:root {
    --color-white: #FFF;

    --color-gray: #999;

    --color-green: #65FFBA;

    --color-orange: #FF9364;

    --color-blue-90: #000069;
    --color-blue-80: #00008C;
    --color-blue-60: #0000CD;
    --color-blue-40: #5050FF;
}

/* Components */
body {
    background-image: url(images/background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.cs {
    width: 100%;
    max-width: 1200px;
    max-height: 800px;
    flex-grow: 1;
    margin: auto;
    display: flex;
    padding: 30px;
    box-sizing: border-box;
}

/* ============================== sidebar ============================== */

.sidebar {
    background-color: var(--color-blue-80);
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 20px 0 0 20px;
}

.sidebar .title {
    color: var(--color-green);
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 30px;
}

.type_orange {
    color: var(--color-orange);
}

.sidebar .description {
    margin-bottom: auto;
    color: var(--color-blue-40);
}

.sidebar .sidebar-btn {
    position: relative;
    background-color: #5050FF;
    width: fit-content;
    padding: 4px 40px 6px 10px;
    border-radius: 12px;
    font-weight: 600;
    color: var(--color-white);
}

.sidebar-btn::after {
    content: ' ';
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 6px;
    background-image: url(images/arrow.svg);
}

/* ============================== sidebar ============================== */

.main {
    flex-grow: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    background-color: var(--color-blue-80);
    border-radius: 0 20px 20px 0;
}

.main .header {
    display: flex;
    justify-content: space-between;
    color: var(--color-blue-40);
    position: relative;
}

.main .header::before {
    content: ' ';
    background-color: var(--color-blue-40);
    height: 10px;
    border-radius: 4px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
}

.main .header .title {
    font-size: 26px;
    font-weight: 600;
}

.main .scroll {
    max-height: 600px;
    flex-grow: 1;
    margin-top: 30px;
    position: relative;
    overflow: scroll;
}

.main .scroll .list {
    position: absolute;
    left: 0;
    right: 0;
    height: 120px;
    display: flex;
    align-items: center;
    background-color: #000069;
    border-radius: 12px;
}

.main .scroll .list:nth-child(even) {
    background-color: var(--color-blue-60);
}

.list .time {
    padding: 40px 30px;
    color: var(--color-gray);
    font-weight: 600;
}

.list-img {
    width: 80px;
    height: 80px;
    border-radius: 0 50px 50px 0;
    padding: 0 20px;
}

.list .profile {
    font-size: 14px;
    font-weight: 600;
}

.profile .name {
    color: var(--color-orange);
    margin-bottom: 10px;
}

.profile .job::before {
    content: ' ';
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: var(--color-blue-40);
    border-radius: 50%;
    margin: 0 8px 1px 2px;
}

.profile .name-lunch {
    color: var(--color-orange);
}

.profile .job{
    color: var(--color-blue-40);
}

.profile .introduce{
    color: var(--color-green);
    font-size: 18px;
}

.main .scroll .list.type-1 {top: 0;}
.main .scroll .list.type-2 {top: 150px;}
.main .scroll .list.type-3 {top: 300px;}
.main .scroll .list.type-4 {top: 450px;}
.main .scroll .list.type-5 {top: 600px;}
.main .scroll .list.type-6 {top: 750px;}
.main .scroll .list.type-7 {top: 900px;}
.main .scroll .list.type-8 {top: 1050px;}

::-webkit-scrollbar {
    width: 6px;
    height: 20px;
}

::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 4px;
}