/* Resets */
body {
    margin: unset;
}

h1, h2, p {
    margin: unset;
    font-size: unset;
    font-weight: unset;
}

button {
    all: unset;
}

img {
    vertical-align: top;
}

/* color */
:root {
    --color-white: #FFF;

    --color-gray: #999;

    --color-green: #65FFBA;

    --color-orange: #FF9364;

    --color-blue-90: #000069;
    --color-blue-80: #00008C;
    --color-blue-60: #0000CD;
    --color-blue-40: #5050FF;
}

/* Components */
body {
    background-image: url(images/background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 30px;
    box-sizing: border-box;
}

.cs {
    width: 100%;
    max-width: 960px;
    max-height: 600px;
    height: 100%;
    flex-grow: 1;
    margin: auto;
    display: flex;
    box-sizing: border-box;
    border-radius: 12px;
    background-color: var(--color-blue-80);
}

/* ============================== sidebar ============================== */

.sidebar {
    width: 220px;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.sidebar .title {
    color: var(--color-green);
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: auto;
}

.type_orange {
    color: var(--color-orange);
}

.sidebar .description {
    margin-bottom: auto;
    color: var(--color-blue-40);
    font-size: 14px;
    line-height: .2em;
}

.sidebar .sidebar-btn {
    position: relative;
    background-color: #5050FF;
    width: fit-content;
    padding: 4px 40px 6px 10px;
    border-radius: 12px;
    font-weight: 600;
    color: var(--color-white);
}

.sidebar-btn::after {
    content: ' ';
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 6px;
    background-image: url(images/arrow.svg);
}

/* ============================== sidebar ============================== */

.main {
    flex-grow: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.main .header {
    display: flex;
    justify-content: space-between;
    color: var(--color-blue-40);
    position: relative;
    height: 60px;
}

.main .header::before {
    content: ' ';
    background-color: var(--color-blue-40);
    height: 10px;
    border-radius: 4px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
}

.main .header .title {
    font-size: 26px;
    font-weight: 600;
}

.main .scroll {
    flex-grow: 1;
    margin-top: 30px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main .scroll .list {
    display: flex;
    align-items: center;
    background-color: #000069;
    border-radius: 12px;
    flex-grow: 1;
}

.main .scroll .list:nth-child(even) {
    background-color: var(--color-blue-60);
}

.list .time {
    padding: 20px 10px;
    color: var(--color-gray);
    font-weight: 600;
    margin: 10px;
    border-radius: 8px;
}

.list br {
    display: none;
}

.list-img {
    width: 80px;
    border-radius: 0 50px 50px 0;
    padding: 0 20px;
}

.list .profile {
    font-size: 14px;
    font-weight: 600;
}

.profile .name {
    color: var(--color-orange);
    margin-bottom: 10px;
}

.profile .job::before {
    content: ' ';
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: var(--color-blue-40);
    border-radius: 50%;
    margin: 0 8px 1px 2px;
}

.profile .name-lunch {
    color: var(--color-orange);
}

.profile .job{
    color: var(--color-blue-40);
}

.profile .introduce{
    color: var(--color-green);
    font-size: 18px;
}

::-webkit-scrollbar {
    width: 6px;
    height: 20px;
}

::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 4px;
}

@media (max-width: 960px) {
    body {
        overflow-y: auto;
    }
    .cs {
        flex-direction: column;
        max-height: unset;
        height: 100%;
    }
    .wrapper {
        max-height: unset;
        height: 100%;
    }
    .scroll {
        overflow: unset;
    }
    .sidebar {
        flex-direction: row;
        width: 100%;
    }
    .sidebar-btn {
        margin-left: auto;
        height: fit-content;
        margin-right: 60px;
    }
}
@media (max-width: 850px) {
    .list br {
        display: block;
    }

    .list .time {
        text-align: center;
        box-shadow: inset 0 0 50px black;
        padding: 20px 30px;
    }

    .list-img {
        display: none;
    }
}