body {
    background-image: url(images/bg.png);
    margin: unet;
}

h1 {
    margin: 0;
    font-size: 36px;
    color: #FFF;
    font-family: Arial;
}

img {
    display: block;
}

p {
    margin: 10px 0;
    font-family: Arial;
    color: #E8BC9C;
    font-size: 16px;
    line-height: 1.3;
}

.container .contents {
    height: 226px;
    background-color: #9C6035;
    padding: 10px 20px 20px 20px;
    border-bottom: 10px solid #46260E;
    border-radius: 0 0 30px 30px;
}

.container {
    width: 300px;
    height: 700px;
    margin: 107px auto;
    display: flex;
}

.header {
    margin: 0;
    min-width: 300px;
}

.main {   
    box-shadow: inset 0 0 20px orange;
}