/* ================= RESET ================= */

body, ul {
	margin: unset;
    padding: unset;
}

h1 {
    margin: unset;
    font-weight: unset;
    font-size: unset;
}

li {
    list-style-type: none;
}

img {
    vertical-align: top;
    /* ul,li 와 이미지 간격 틈이 없어진다 */
}

a {
    text-decoration: unset;
    color: unset;
}

/* ================= RESET ================= */

:root {
	font-family: 'arial';
}

body {
    background-image: url(images/bg.png);
}

.container {
    margin: 50px auto;
    display: flex;
    width: 800px;
}

.sidebar {
    width: 200px;
    flex-shrink: 0;
    color: white;
    background-image: url(images/profile-bg.png);
    background-repeat: no-repeat;
    background-size: contain; /* 컨테이너에 맞춰진다 */
    background-color: #222;
    /* min-width: auto; */
    /* flexitems의 min-width는 내부 컨텐츠의 크기에 맞춰져있다(기본값:auto) */
}

.sidebar .profile {
    display: block;
    margin: 30px auto;
    border-radius: 50%;
    border: 6px solid;
}

.sidebar .menu {
    background-color: #111;
    margin-bottom: 5px;
}

.sidebar .menu li a {
    padding: 10px;
    display: block;
    border-left: 5px solid #222;
}

.sidebar .menu li a:hover {
    border-left-color: dodgerblue;
}

.main {
    background-color: white;
    box-shadow: inset 0 0 20px red;
    flex-grow: 1;
    flex-basis: auto;
    padding: 40px;
    background-image: url(images/trophy.png);
    background-size: 148px 132px;
    background-repeat: no-repeat;
    background-position: right bottom;

    /* padding까지고려해서 위치가 맞춰진다 */
    background-origin: content-box; 
}

.main h1 {
    font-size: 40px;
    color: dodgerblue;
    font-weight: 600;
    margin-bottom: 20px;
    line-height: 0.6;
}

.main p {
    margin-bottom: 24px;
}

.actions {
    display: flex;
    gap: 8px;
}

.actions a {
    background-color: #ddd;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-indent: -9999px;
    overflow: hidden;
    background-image: url(images/sprite-btn.png);
}

/* image sprite기법: 가로150 세로50짜리 이미지를
   width50으로 바꾸고, background-postiion을 이용하여
   좌표를 설정해서 일부분만 보여지게 하는것.
   하나의 이미지를 n개의 이미지로 나눈다 */

.actions a:hover {
    background-color: gold;
}

.actions a.type_View {
    background-position: left top;
}

.actions a.type_like {
    background-position: center top;
}

.actions a.type_Share {
    background-position: right top;
}

.main p {
    line-height: 1.56;
}