/* Resets */
body {
    margin: unset;
}

/* Components */
body {
    background-color: #DDD;
}

.app {
    height: 100vh;
    display: flex;
    padding: 30px;
    box-sizing: border-box;
}

.wrapper {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #FFF;
    border-radius: 24px;
    flex-grow: 1;
    max-width: 960px;
    max-height: 600px;
    height: 100%;
    margin: auto;
    display: flex;
    padding: 12px;
    gap: 12px;
}

.box-side {
    background-color: #D1EBDA;
    width: 220px;
    flex-shrink: 0;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #009F6F;
    font-size: 16px;
    font-weight: 700;
}

.box-side .header {
    background-color: #E7FFE5;
    padding: 20px;
    margin: 12px;
    border-radius: 8px;
}


.box-side .footer {
    background-color: #E7FFE5;
    padding: 20px;
    margin: 12px;
    border-radius: 8px;
}

.box-contents {
    background-color: #FEE0FF;
    flex-grow: 1;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: #C76AD7;
    font-weight: 700;
}

.box-contents .header {
    padding: 20px;
    background-color: #FEFEFE;
    margin: 12px;
    border-radius: 8px;
}

.box-contents .main {
    flex-grow: 1;
    background-color: #FEFEFE;
    margin: 12px;
    border-radius: 8px;
    padding: 20px;
    overflow-y: auto;
}

.box-contents .main .contents {
    color: #6B6B6B;
    font-weight: 400;
    line-height: 1.7em;
    padding-top: 24px;
}

@media (max-width:700px) {
    .wrapper {
        display: block;
        max-height: unset;
        height: auto;
    }
    .box-side {
        width: unset;
        flex-direction: row;
        margin-bottom: 12px;
    }
    .box-contents {
        overflow: unset;
    }
    .box-contents .main {
        overflow-y: unset;
    }
}