@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&family=Rubik+Bubbles&display=swap');
/* Resets */
body {
    margin: unset;
}
h1 {
    margin: unset;
    font-size: unset;
    font-weight: unset;
}

.header {
    min-height: 40vw;
    background-image: url(images/cover_2.png);
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.header::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: black;
    opacity: 0.4;
    z-index: -1;
}

.header-title {
    font-size: 100px;
    text-align: center;
    line-height: 0.7;
}

.header-title span.type_sub {
    font-size: 0.24em;
    display: block;
}

.l_wrapper {
    box-shadow: inset 0 0 20px red;
}