/* Resets */
body {
    margin: unset;
}

h1, p, h2 {
    margin: unset;
    font-size: unset;
    font-weight: unset;
}

/* Layouts */
.l_wrapper {
    display: flex;
    width: 1080px;
    margin: 0 auto;
    gap: 30px;
}

/* Typography */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
body {
    font-family: "Montserrat";
}

/* Components */
body {
    background-color: #FFF5ED;
}

.header {
    display: flex;
    width: 1080px;
    height: 282px;
    align-items: center;
    margin: 0 auto;
    color: #F98173;
    font-size: 40px;
    line-height: 44px;
}

.header-title {
    font-weight: 500;
}

.header-title-type {
    display: block;
    font-weight: 700;
}

.header-title-sub {
    margin-left: auto;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    padding: 0 14px 4px 14px;
    background-color: #FF4500;
    border-bottom: 4px solid rgba(0, 0, 0, 0.10);
    border-radius: 4px;
}

.card {
    width: 340px;
    background-color: #FFF;
}

.card-header {
    position: relative;
}

.card-header::after {
    content: '';
    width: 340px;
    height: 4px;
    background-color: #111;
    display: block;
    margin-top: -4px;
}

.card-header-cover {
    width: 340px;
}

.card-header-cover-sub {
    position: absolute;
    margin-top: -10px;
    margin-left: -10px;
}

.card-contents {
    padding: 20px 20px 0px 20px;
}

.card-contents::after {
    display: block;
    content: '';
    width: 320px;
    height: 4px;
    background-color: #EEE;
    margin-top: 20px;
}

.card-title-sub {
    display: flex;
    gap: 4px;
    color: #6230A2;
    font-size: 14px;
    font-weight: 600;
}

.card-title-sub p {
    background-color: #EBDBFF;
    padding: 2px 12px 3px 12px;
    border-radius: 12px;
}

.card-title {
    color: #111;
    font-size: 24px;
    font-weight: 700;
    padding: 20px 0;
    min-height: 64px;
}

.card-description {
    width: 300px;
    min-height: 110px;
}

.card-description p {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.card-footer {
    display: flex;
    width: 340px;
    height: 60px;
    align-items: center;
    padding: 0 20px 0 20px;
    box-sizing: border-box;
}

.card-footer p {
    color: #999;
    font-size: 14px;
    margin-right: auto;
}

.card-footer img {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 2px solid #FFF;
}

.footer-cover {
    margin-left: -10px;
}