/* Resets */
body {
    margin: unset;
}

h1 {
    margin: unset;
    font-size: unset;
    font-weight: unset;
}

/* Layouts */


/* Components */
.header {
    box-shadow: inset 0 0 20px blue;
}

.header-title {
    
}

.header-title-type {
    display: block;
}