/* reset */
body {
    margin: unset;
    background-color: #D9D9D9;
}

p {
    margin: unset;
}

h1 {
    font-size: unset;
}

/* components */

/*  header */
.wrapper {
    height: 100vh;
    /* position: relative; */
}

.top {
    width: auto;
    background-color: #F4F4F4;
    /* position: relative; */
}

.wrapper .header {
    display: flex;
    position: relative;
    max-width: 960px;
    width: auto;
    height: 160px;
    align-items: center;
    margin: 0 auto;
    padding: 30px;
}

.header .title {
    color: orange;
    font-size: 24px;
}

.header .title-img {
    width: 124px;
    height: 100px;
    margin-left: auto;
}

.wrapper .main {
    display: flex;
    box-shadow: inset 0 0 20px red;
}
/*  header */

/* main */

.container {
    display: flex;
    width: 960px;
    margin: 30px auto;
}

.container .section {
    width: 300px;
    box-shadow: 0 5px 5px gray;
    border-radius: 12px;
    overflow: hidden;
}

.green {
    margin: 0 30px 0 30px;
}
.section-header-orange {
    height: 200px;
    background-image: url(images/food01.png);
    background-size: 300px;
    display: flex;
}

.section-header-green {
    height: 200px;
    background-image: url(images/food02.png);
    background-size: 300px;
    display: flex;
}

.section-header-blue {
    height: 200px;
    background-image: url(images/food03.png);
    background-size: 300px;
    display: flex;
}

.section .title-orange {
    background: rgba(0, 0, 0, 0.80);
    padding: 10px 20px 10px 20px;
    margin-top: auto;
    margin-bottom: 0;
    color: #F60;
    font-size: 24px;
    border-radius: 0 12px 0 0;
}

.section .title-green {
    background: rgba(0, 0, 0, 0.80);
    padding: 10px 20px 10px 20px;
    margin-top: auto;
    margin-bottom: 0;
    color: #17A651;
    font-size: 24px;
    border-radius: 0 12px 0 0;
}

.section .title-blue {
    background: rgba(0, 0, 0, 0.80);
    padding: 10px 20px 10px 20px;
    margin-top: auto;
    margin-bottom: 0;
    color: #0075FF;
    font-size: 24px;
    border-radius: 0 12px 0 0;
}

.section-contents {
    background-color: white;
    color: #666;
}

.contents-orange {
    padding: 20px;
    font-size: 14px;
    line-height: 1.6;
}

.contents-green {
    padding: 20px;
    font-size: 14px;
    line-height: 1.6;
}

.contents-blue {
    padding: 20px;
    font-size: 14px;
    line-height: 1.6;
}

.contents-orange::before {
    content: 'Plain food ';
    color: #F60;
    font-weight: 700;
}

.contents-green::before {
    content: 'Shake Shakge Burger ';
    color: #17A651;
    font-weight: 700;
}

.contents-blue::before {
    content: 'Superior Pizza ';
    color: #0075FF;
    font-weight: 700;
}

.footer-orange {
    background-color: #F4F4F4;
    display: flex;
    height: 54px;
    align-items: center;
    padding: 10px;
}

.footer-green {
    background-color: #F4F4F4;
    display: flex;
    height: 54px;
    align-items: center;
    padding: 10px;
}

.footer-blue {
    background-color: #F4F4F4;
    display: flex;
    height: 54px;
    align-items: center;
    padding: 10px;
}

.footer-orange p {
    font-size: 12px;
    padding: 4px;
    color: white;
    margin-left: 8px;
    background-color: #F60;
    border-radius: 20px;
}

.footer-green p {
    font-size: 12px;
    padding: 4px;
    color: white;
    margin-left: 8px;
    background-color: #17A651;
    border-radius: 20px;
}

.footer-blue p {
    font-size: 12px;
    padding: 4px;
    color: white;
    margin-left: 8px;
    background-color: #0075FF;
    border-radius: 20px;
}

.finish {
    width: 960px;
    margin: 0 auto;
    font-size: 12px;
    color: #AAAAAA;
    text-indent: 10px;
}

@media ( max-width: 750px ) { 
    .container {
        display: grid;
        width: auto;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .section {
        margin-bottom: 30px;
        margin-left: 30px;
    }

    .wrapper.header {
        /* max-width: 600px; */
    }
    .finish {
        position: fixed;
        left: 0;
        bottom: 0;
    }
}

@media ( max-width: 650px ) { 
    .container {
        display: grid;
        width: 350px;
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .section {
        margin: 30px auto;
    }
}