/* Resets */
body {
    margin: unset;
    padding: unset;
}

h1, h2, p, a {
    margin: unset;
    font-size: unset;
    font-weight: unset;
    color: inherit;
    text-decoration: none;
}

img {
    vertical-align: top;
}

/* Typography */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

:root {
    font-family: 'arial';
}

/* Components */
body {
    background-color: #D9D9D9;
}

.wrapper-inner {
    max-width: 960px;
    width: auto;
    margin: 0 auto;
}

/* header */
.header {
    background-color: #F4F4F4;
    padding: 30px;
    margin-bottom: 30px;
}

.header-title {
    margin-right: auto;
    color: #F60;
    font-size: 24px;
    font-weight: 700;
}

.header-img {
    width: 124px;
}

/* section */
.contents-inner {
    display: flex;
    gap: 30px;
    align-items: start;
}

.card {
    min-width: 300px;
    flex-basis: 300px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
}

.card-cover {
    position: relative;
    background-image: url(images/food01.png);
    background-repeat: no-repeat;
    height: 200px;
}

.card-title {
    background-color: rgba(0, 0, 0, 0.80);;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 0 12px 0 0;
    padding: 10px 20px;
    color: #F60;
    font-size: 24px;
    font-weight: 700;
}

.card-contents {
    background-color: white;
    padding: 20px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 400;
    color: #666;
}

.point {
    color: #F60;
    font-weight: 700;
}

.card-bottom {
    display: flex;
    font-size: 12px;
    color: white;
    background-color: #F4F4F4;
    font-family: 'Noto Sans KR';
    line-height: 16px;
    padding: 26px 18px;
    gap: 6px;
    flex-wrap: wrap;
}

.card-bottom p::before {
    content: '#';
    opacity: 50%;
}

.card-bottom p {
    background-color: #F60;
    border-radius: 12px;
    padding: 2px 8px 4px 8px;
}

.card-cover.type_green {background-image: url(images/food02.png);}
.card-cover.type_blue  {background-image: url(images/food03.png);}

.card-title.type_green {color: #17A651;}
.card-title.type_blue  {color: #0075FF;}

.point.type_green {color: #17A651;}
.point.type_blue  {color: #0075FF;}

.card-bottom.type_green p {background-color: #17A651;}
.card-bottom.type_blue p  {background-color: #0075FF;}

.footer {
    color: #AAA;
    letter-spacing: 2.8px;
    font-weight: 400;
    font-size: 12px;
    margin: 30px;
}

@media ( max-width: 800px ) {
    .contents-inner {
        flex-wrap: wrap;
        justify-content: center;
    }
}