/* reset */
body {
    margin: unset;
    background-color: #D9D9D9;
    font-family: 'Arial';
}

h1 {
    margin: unset;
}

ul {
    margin: 0;
    list-style: none;
}

/* components */
.wrapper {
    display: flex;
    align-items: center;
    height: 100vh;
}

.section {
    margin: 0 auto;
    width: 448px;
    align-items: center;
}

.section .title {
    display: flex;
    background-color: white;
    border-radius: 20px 20px 0 0;
    height: 120px;
    align-items: center;
}

.section h1 {
    font-size: 24px;
    font-weight: 700;
    color: #FF007A;
}

h1::before { 
    /* sudo엘리먼트(가상 엘리먼트) html에 직접 입력하지않고 꾸밀수 있다*/
    content: '.';
    background-color: #FF007A;
    color: #FF007A;
    margin-right: 39px;
    border-radius: 0 10px 10px 0;
}

.section ul {
    background-color: #EEE;
    padding: 40px;
    border-top: 4px solid#999;
    border-radius: 0 0 20px 20px;
}

.section li {
    color: #888;
    padding: 20px;
    border: 4px solid #D9D9D9;
    margin-bottom: 20px;
    border-radius: 10px;
}

.seciton li:last-child {
    margin-bottom: 0;
}

.check.check {
    padding: 13px;
    width: auto;
}

.check.check:hover {
    color: #759CFF;
    border: 4px solid #759CFF;
    margin-left: -10px;
    margin-right: -10px;
}
