.modal {
    background-color: rgb( 0 0 0 / .8 );
    position: fixed;
    inset: 0;

    padding: 60px;
    display: flex;
    flex-direction: column;

    overflow: auto;
    opacity: 0;
    pointer-events: none;

    transition: opacity .4s;
}

.modal.is_active {
    opacity: 1;
    pointer-events: unset;
}

.modal-inside {
    box-shadow: 0 0 30px lime;
    width: 100%;
    max-width: 640px;
    margin: auto;
    transform: translateY(-50%);
    /* transition: all .4s;
    transition-delay: .4s; */

    flex-grow: 1;
    max-height: 600px;
    min-height: 0;
}

.modal.is_active .modal-inside {
    transform: translateY(0);
    opacity: 1;
}

.window {
    background-color: white;
    color: #333;
    padding: 12px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.window-header {
    background-color: #D1EBDA;
    padding: 12px;
}

.window-main {
    padding: 20px 12px;
    flex-grow: 1;
    height: 100%;
    overflow: auto;
}

.window-footer {
    background-color: #EEEEEE;
    padding: 12px;
}
