/* Resets */
body {
	margin: unset;
}

img {
	max-width: 100%;
}

a {
	color: unset;
	text-decoration: unset;
}

strong {
	font-weight: unset;
}

fieldset,
legend,
button,
label,
input {
	all: unset;
	display: block;
}

legend {
	width: 100%;
}

input {
	width: 100%;
	height: 40px;
	box-sizing: border-box;
	padding: 0 12px;
}

/* Commons */
.button {
	background-color: dodgerblue;
	color: white;
	display: inline-block;
	height: 48px;
	padding: 0 12px;
	box-sizing: border-box;
	border-radius: 12px;
}

.button.type_block {
	display: block;
	width: 100%;
	text-align: center;
	/* box-shadow: 0 0 0 6px rgb(10 23 100 / .2); */
	transition: all .4s;
}

.button:focus {
	border-color: dodgerblue;
	box-shadow: 0 0 0 6px rgb(10 23 100 / .2);
}

/* Typography */
:root {
	font-family: 'Noto Sans KR', sans-serif;
}

.cover {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 480px;
	display: none;
}

.cover-src {
	height: 100%;
	object-fit: cover;
}

.main {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 40px;
	box-sizing: border-box;
}

.main-inside {
	width: 480px;
}

.form {}

.form-title {
	font-size: 24px;
	font-weight: 600;
	border-bottom: 10px solid #eee;
}

.form-field {
	margin: 20px 0;
}

.form-label {
	font-size: 14px;
	padding-bottom: 8px;
}

.form-input {
	border: 4px solid #eee;
	border-radius: 2px;
	box-shadow: 0 0 0 0 rgb(0 0 0 / .2);
	transition: all .4s;
}

.form-input:focus-within {
	border-color: dodgerblue;
	box-shadow: 0 0 0 6px rgb(10 23 100 / .2);
}

.split {
	margin: 40px 0;
	text-align: center;
	display: flex;
	align-items: center;
	gap: 20px;
	color: #333;
}

.split::before,
.split::after {
	content: ' ';
	background-color: currentColor;
	opacity: 0.6;
	flex-grow: 1;
	height: 1px;
}

.socialButton {
	border: 1px solid #aaa;
	border-radius: 4px;
	height: 40px;
	padding: 0 12px;
	display: block;
	line-height: 38px;
}

.socialButton::before {
	content: ' ';
	width: 24px;
	height: 24px;
	display: inline-block;
	vertical-align: text-top;
	margin-right: 4px;
	transform: translateY(-2px);
	background-size: 24px;
	background-position: center;
	background-repeat: no-repeat;
}

.socialButton + .socialButton {
	margin-top: 12px;
}

.socialButton strong {
	font-weight: 600;
}

.socialButton.type_google strong {
	color: orangered;
}

.socialButton.type_facebook strong {
	color: dodgerblue;
}

.socialButton.type_google::before {
	background-image: url(images/google.svg);
}

.socialButton.type_facebook::before {
	background-image: url(images/facebook.svg);
}

@media (min-width: 960px) {
	.cover {
		display: block;
	}

	.cover+.main {
		margin-left: 480px;
	}
}