@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');
/* Resets */
body {
    margin: unset;
}

h1, p {
    margin: unset;
    font-size: unset;
    font-weight: unset;
}

/* Components */
body {
    background-color: #111;
}

.header {
    min-height: 676px;
    background-image: url(images/cover.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

.header-title {
    font-size: 64px;
    color: #FFF;
    font-weight: 700;
    position: absolute;
    left: 60px;
    bottom: 18px;
}

.header::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 436px;
    background: linear-gradient(0deg, #111 0%, rgba(17, 17, 17, 0.00) 81.45%);
}

.header .sub {
    display: block;
    font-size: 12px;
    letter-spacing: 2px;
    background-color: #FF2E00;
    padding: 8px;
    width: fit-content;
    border-radius: 8px;
}

.main {
    display: flex;
    height: 562px;
    line-height: 160%;
    width: auto;
    justify-content: center;
}

.contents {
    color: #999;
    width: 700px;
    height: 497px;
    padding: 8px 60px 60px 60px;
    font-family: 'Noto Sans KR';
}

.contents-gap {
    margin: 30px 0;
}

.side {
    font-family: 'Arial';
    margin-top: -60px;
    position: relative;
}

.side-type {
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.side-thema {
    color: #AAA;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    margin-bottom: 40px;
}

.side-thema p {
    padding: 0 14px;
    background-color: #222;
    margin-right: 4px;
    margin-bottom: 6px;
    border-radius: 12px;
}

.ratings {
    position: relative;
    display: flex;
    z-index: 1;
}

.ratings::after {
    display: block;
    content: '';
    width: 240px;
    height: 48px;
    background-image: url(images/star.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 144px;
    position: absolute;
}

.ratings::before {
    content: '';
    width: 240px;
    height: 48px;
    background-image: url(images/star.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    background-position-y: -48px;
    background-position-x: -96px;
    margin-bottom: 40px;
}

.side-casts {
    display: flex;
    position: relative;
}

.side-casts img {
    width: 64px;
    border: 4px solid #111;
    border-radius: 32px;
}

.casts-img {
    margin-left: -20px;
}